.f-container{
    display: flex;
    flex-wrap: wrap;
}

.f-item-100{
    flex:auto;
    width: 100%;
    text-align: center;
}

#title{
    font-size:80px;
    margin:100px 0;
}


@media{
    #title{
        font-size:50px;
    }
}