<div class="center">
  <div class="text-center" style="margin-top:200px;">
    <h1 style="font-size:80px;">WeightLog</h1>
  </div>
  <div class="text-center">
      <p>すでに登録済みの方</p>
      <%= link_to 'Login', login_path, class: 'btn btn-lg btn-success' %>
      <p>初めての方</p>
      <%= link_to 'Signup', signup_path, class: 'btn btn-lg btn-primary' %>
  </div>
</div>