<div class="f-container">
  <div class="f-item-100">
    <h1 id="title">WeightLog</h1>
  </div>
  <div class="f-item-100">
      <p>すでに登録済みの方</p>
      <%= link_to 'Login', login_path, class: 'btn btn-lg btn-success' %>
      <p>初めての方</p>
      <%= link_to 'Signup', signup_path, class: 'btn btn-lg btn-primary' %>
  </div>
</div>